@charset "utf8";
section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    width: 390px;
    height: 288px;
    border: none;
    overflow: hidden;
}

iframe#frame-spec ::-webkit-scrollbar {
    display: none;
}


