<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Tudo sobre Google Glass</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/form.css">
    <script language="javascript" src="../js/funcoes.js"></script>
    <script>
        function calc_total() {
            var qtd = parseInt(document.getElementById('cQntd').value);
            var valor = qtd * 1500 * 6;
            document.getElementById('cTot').value = valor;
        }
    </script>
</head>

<body>
    <div id="Interface">
        <header id="headerId">
            <hgroup>
                <h1> Google Glass</h1>
                <h2> A revolução do Google está chegando</h2>
            </hgroup>

            <img id="IconId" src="../img/contato.png">
            <nav id="Menu">
                <h1> Main Menu</h1>
                <ul type="disc">
                    <li onmouseover="changePic('../img/home.png')" onmouseout="changePic ('../img/contato.png')"> <a href="index.html"> Home </a></li>
                    <li onmouseover="changePic('../img/especificacoes.png')" onmouseout="changePic ('../img/contato.png')"> <a href="specs.html"> Especificações </a></li>
                    <li onmouseover="changePic('../img/fotos.png')" onmouseout="changePic ('../img/contato.png')"> <a href="images.html"> Fotos </a></li>
                    <li onmouseover="changePic('../img/multimidia.png')" onmouseout="changePic ('../img/contato.png')"> <a href="media.html"> Multimídia </a></li>
                    <li onmouseover="changePic('../img/contato.png')" onmouseout="changePic ('../img/contato.png')"> <a href="contact-us.html"> Fale conosco</a></li>
                </ul>
            </nav>
        </header>

        <section id="bodyId-full">
            <article id="NoticiaPricipal">
                <header id="headerId-article">
                    <hgroup id="bread crombs">

                        <h1>Formulário de Contato</h1>
                        <h2>por Valmir Barros</h2>
                    </hgroup>
                </header>
            </article>


            <form method="POST" id="fContato" action="mailto:valmir.barros57@yahoo.com.br" oninput="calc_total();">

                <fieldset id="usuario">

                    <legend>Identificação do Usuário</legend>
                    <p>
                        <LABel for="cNome">  Nome:</LABel> <input type="text" name="tNome" id="cNome" size="30" maxlength="30" placeholder="Nome Completo">
                    </p>
                    <p>
                        <label for="cSenha">Senha:</label> <input type="password" name="tSenha" id="cSenha" size="30" maxlength="8" placeholder="8 Digitos">
                    </p>
                    <p>
                        <label for="cMail"> E-mail:</label> <input type="email" name="tMail" id="cMail" size="30" maxlength="20" placeholder="Digite seu e-mail">
                    </p>
                    <fieldset id="sexo">

                        <legend>Sexo</legend>

                        <input type="radio" name="tSexo" id="cMas">
                        <label for="cMas"> Masculino </label> <br>
                        <input type="radio" name="tSexo" id="cFem"> <label for="cFem"> Feminino </label>

                    </fieldset>

                    <p> <label for="cData">Data de Nascimento: </label> <input type="date" name="tData" id="cData"> </p>
                </fieldset>

                <fieldset id="Endereco">
                    <legend>Endereço do Usuário</legend>

                    <p>
                        <label for="cLugradouro">Logradouro: </label> <input type="text" name="tLugradouro" id="cLugradouro" size="20" maxlength="20" placeholder="Rua, Avenida, Travessa etc...">
                    </p>

                    <p>
                        <label for="cNumero">Número:</label> <input type="text" name="tNumero" id="cNumero" size="20" maxlength="10">
                    </p>

                    <p>
                        <label for="cUF"> Estado:</label>
                        <select name="tUf" id="cUf">
                        <option value="Sl" selected> Selecione o estado</option>

                        <optgroup label="Região Sudeste">
                            <option value="RJ">Rio de Janeiro-RJ</option>
                            <option value="SP"> São Paulo-SP</option>
                            <option value="MG"> Minas Gerais-MG</option>
                        </optgroup>

                        <optgroup label="Região Sul">
                            <option value="PR">Paraná-PR</option>
                            <option value="SC"> Santa Catarina-SC</option>
                            <option value="RS">Rio grando do Sul-RS</option>
                        </optgroup>
                    </select>
                    </p>

                    <p>
                        <label for="cCidade"> Cidade: </label><input type="text" name="tCidade" id="cCidade" placeholder="Sua cidade" list="cidades"></p>
                    <datalist id="cidades">
                        <option value="Angra dos Reis"> </option>
                            <option value="Aperibé"> </option>
                            <option value="Araruama"> </option>
                            <option value="Areal"> </option>
                            <option value="Armação dos Búzios"> </option>
                            <option value="Arraial do Cabo"> </option>
                            <option value="Belford Roxo"> </option>
                            <option value="Bom Jardim"> </option>
                            <option value="Bom Jesus do Itabapoana"> </option>
                            <option value="Cabo Frio"> </option>
                            <option value="Cachoeiras de Macacu"> </option>
                            <option value="Macacu Cambuci"> </option>
                            <option value="Cambuci"> </option>
                            <option value="Campos dos Goytacazes"> </option>

                    </datalist>

                </fieldset>

                <fieldset id="mensagem">
                    <legend>Mensagem do Usuário</legend>
                    <p>
                        <label for="cUgencia">Grau de Urgência:</label> Mín<input type="range" name="tUrgencia" id="cUgencia" min="0" max="10" step="5"> Máx
                    </p>

                    <p>
                        <label for="cMsg" id="msg"> Mensagem:</label>
                        <textarea name="tMsg" id="cMsg" cols="45" rows="5" placeholder="Sua mensagem"></textarea>
                    </p>

                </fieldset>
                <fieldset id="solicitacao">
                    <legend>Quero um Google Glass&REG; </legend>

                    <p>
                        <input type="checkbox" name="tQuero" id="cQuero" checked> <label for="cQuero"> Gostaria de adquirir um GoogleGlass&reg; quando disponível </label>
                    </p>
                    <p>
                        <label for="cCor"> Cor:</label> <input type="color" name="tCor" id="cCor">
                    </p>
                    <p>
                        <label for="cQntd">Quantidade:</label> <input type="number" name="tQntd" id="cQntd" min="0" max="5" size="20">
                    </p>
                    <p>
                        Preço Total: R$ <input type="text" name="tTot" id="cTot" placeholder="Total a pagar" readonly>
                    </p>
                </fieldset>

                <input type="image" name="tEnv" id="cEnv" src="../img/botao-enviar.png">

            </form>

            <footer id='Rodape'>
                <p>
                    Copyright&copy; 2020 - by <a href="https://github.com/ValmirBP" target="_blank">Valmir Barros</a> <br />
                    <a href="https://www.facebook.com/valmir.barros.169/" target="_blank"> Facebook </a> |
                    <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LinkedIn</a>
                </p>
            </footer>
        </section>
    </div>
</body>

</html>