<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>All about Google Glass</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/form.css">
    <script language="javascript" src="../js/functions.js"></script>
</head>

<body>
   <div id="Interface">
       <header id="headerId">
           <hgroup>
               <h1>Google Glass</h1>
               <h2>The Google revolution is coming</h2>
           </hgroup>

           <img id="IconId" src="../img/contato.png">
           <nav id="Menu">
               <h1> Main Menu</h1>
               <ul type="disc">
                   <li onmouseover="changePic('../img/home.png')" onmouseout="changePic ('../img/contato.png')"> <a href="index.html"> Home </ a></li>
                   <li onmouseover="changePic('../img/especificacoes.png')" onmouseout="changePic ('../img/contato.png')"> <a href="specs.html"> Specifications </ a></li>
                   <li onmouseover="changePic('../img/fotos.png')" onmouseout="changePic ('../img/contato.png')"> <a href="images.html"> Photos </ a></li>
                   <li onmouseover="changePic('../img/multimidia.png')" onmouseout="changePic ('../img/contato.png')"> <a href="media.html"> Multimedia </ a></li>
                   <li onmouseover="changePic('../img/contato.png')" onmouseout="changePic ('../img/contato.png')"> <a href="contact-us.html"> Contact with us</a></li>
               </ul>
           </nav>
       </header>

        <section id="bodyId-full">
            <article id="NoticiaPricipal">
                <header id="headerId-article">
                    <hgroup id="bread crombs">

                        <h1>Contact Form</h1>
                        <h2>by Valmir Barros</h2>
                    </hgroup>
                </header>
            </article>


            <form method="POST" id="fContact" action="mailto:valmir.barros57@yahoo.com.br" oninput="calc_total();">

                <fieldset id="user">

                    <legend>User Identification</legend>
                    <p>
                        <LABel for="cName"> Name:</LABel> <input type="text" name="tName" id="cName" size="30" maxlength="30" placeholder="Full Name">
                    </p>
                    <p>
                        <label for="cPsw">Password:</label> <input type="password" name="tPassword" id="cPsw" size="30" maxlength="8" placeholder="8 Digits">
                    </p>
                    <p>
                        <label for="cMail"> Email:</label> <input type="email" name="tMail" id="cMail" size="30" maxlength="20" placeholder="Enter your email mail">
                    </p>
                    <fieldset id="sex">

                        <legend>sex</legend>

                        <input type="radio" name="tsex" id="cMas">
                        <label for="cMas"> Male </label> <br>
                        <input type="radio" name="tsex" id="cFem"> <label for="cFem"> Female </label>

                    </fieldset>

                    <p> <label for="cData">Date of Birth: </label> <input type="date" name="tData" id="cData"> </p>
                </fieldset>

                <fieldset id="Address">
                    <legend>User Address</legend>

                    <p>
                        <label for="cPlace">Logradouro: </label> <input type="text" name="tLugradouro" id="cPlace" size="20" maxlength="20" placeholder="Rua, Avenida, Travessa etc ...">
                    </p>

                    <p>
                        <label for="cNumber">Number:</label> <input type="text" name="tNumber" id="cNumber" size="20" maxlength="10">
                    </p>

                    <p>
                        <label for="cUF"> Status:</label>
                        <select name="tUf" id="cUf">
                        <option value="Sl" selected> Select state</option>

                        <optgroup label="Southeast Region">
                            <option value="RJ">Rio de Janeiro-RJ</option>
                            <option value="SP"> São Paulo-SP</option>
                            <option value="MG"> Minas Gerais-MG</option>
                        </optgroup>

                        <optgroup label="South Region">
                            <option value="PR">Paraná-PR</option>
                            <option value="SC"> Santa Catarina-SC</option>
                            <option value="RS">Rio Grande do Sul-RS</option>
                        </optgroup>
                    </select>
                    </p>

                    <p>
                        <label for="cCity"> City: </label><input type="text" name="tCity" id="cCity" placeholder="Your city" list="cities"></p>
                    <datalist id="cities">
                        <option value="Angra dos Reis"> </option>
                            <option value="Aperibé"> </option>
                            <option value="Araruama"> </option>
                            <option value="Areal"> </option>
                            <option value="Armação dos Búzios"> </option>
                            <option value="Arraial do Cabo"> </option>
                            <option value="Belford Roxo"> </option>
                            <option value="Bom Jardim"> </option>
                            <option value="Bom Jesus do Itabapoana"> </option>
                            <option value="Cabo Frio"> </option>
                            <option value="Macacu Waterfalls"> </option>
                            <option value="Macacu Cambuci"> </option>
                            <option value="Cambuci"> </option>
                            <option value="Campos dos Goytacazes"> </option>

                    </datalist>

                </fieldset>

                <fieldset id="message">
                    <legend>User Message</legend>
                    <p>
                        <label for="cUgencia">Degree of Urgency:</label> Min<input type="range" name="tUrgencia" id="cUgencia" min="0" max="10" step="5"> Max
                    </p>

                    <p>
                        <label for="cMsg" id="msg"> Message:</label>
                        <textarea name="tMsg" id="cMsg" cols="45" rows="5" placeholder="Your message"></textarea>
                    </p>

                </fieldset>

                <fieldset id="request">
                     <legend>I want a Google Glass&REG; </legend>

                     <p>
                         <input type="checkbox" name="tI want" id="cI want" checked> <label for="cI want"> I would like to purchase a GoogleGlass&reg; when available </label>
                     </p>
                     <p>
                         <label for="cCor"> Color:</label> <input type="color" name="tCor" id="cCor">
                     </p>
                     <p>
                         <label for="cQntd">Quantity:</label> <input type="number" name="tQntd" id="cQntd" min="0" max="5" size="20">
                     </p>
                     <p>
                         Total: US$ <input type="text" name="tTot" id="cTot" placeholder="Total payable" readonly>
                     </p>
                 </fieldset>

                 <input type="image" name="tEnv" id="cEnv" src="../img/botao-enviar.png">

                </form>

                <footer id='Footer'>
                    <p>
                        Copyright&copy; 2020 - by <a href="https://github.com/ValmirBP" target="_blank">Valmir Barros</a> <br />
                        <a href="https://www.facebook.com/valmir.barros.169/" target="_blank"> Facebook </a> |
                        <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LinkedIn</a>
                    </p>
                </footer>
            </section>
        </div>
   </body>

   </html>