<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="utf-8">
     <title>All about Google Glass</title>
     <link rel="stylesheet" href="../css/style.css">
     <link rel="stylesheet" href="../css/images.css">
     <script language="javascript" src="../js/functions.js"></script>
</head>

<body>
     <div id="Interface">
         <header id="headerId">
             <hgroup>
                 <h1>Google Glass</h1>
                 <h2>The Google revolution is coming</h2>
             </hgroup>

             <img id="IconId" src="../img/fotos.png">
             <nav id="Menu">
                 <h1> Main Menu</h1>
                 <ul type="disc">
                     <li onmouseover="changePic('../img/home.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="index.html"> Home </a></li>
                     <li onmouseover="changePic('../img/especificacoes.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="specs.html"> Specifications </a></li>
                     <li onmouseover="changePic('../img/fotos.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="images.html"> Photos </a></li>
                     <li onmouseover="changePic('../img/multimidia.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="media.html"> Multimedia </a></li>
                     <li onmouseover="changePic('../img/contato.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="contact-us.html"> Contact us</a></li>
                 </ul>
             </nav>
         </header>

         <section id="bodyId-full">
             <article id="mainNews">
                 <header id="headerId-article">
                     <hgroup id="breadCrombs">
                         <h1>Google Glass Image Gallery</h1>
                         <h2>by Valmir Barros</h2>
                     </hgroup>
                 </header>

                 <p>
                     See in our photo gallery several beautiful images that show some of the main features of Google Glass, such as features and properties that are impressing the whole world. Just hover your mouse over one of the photos to see a version
                     enlarged and with a brief description.
                 </p>

                 <ul id="album-Photos">
                     <li id="photo01"><span> Calendar and reminders </span> </li>
                     <li id="photo02"><span>Sergey Brin wearing Glass </span> </li>
                     <li id="photo03"><span>Light and compact </span> </li>
                     <li id="photo04"><span>Feeling like a 50" screen</span> </li>
                     <li id="photo05"><span>Various lens types </span> </li>
                     <li id="photo06"><span>Important information </span> </li>

                 </ul>


             </article>
         </section>
         <footer id='Footer'>
             <p>
                 Copyright&copy; 2020 - by <a href="https://github.com/ValmirBP" target="_blank">Valmir Barros</a> <br />
                 <a href="https://www.facebook.com/valmir.barros.169/" target="_blank"> Facebook </a> |
                 <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LinkedIn</a>
             </p>
         </footer>
     </div>
</body>

</html>