<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="utf-8">
     <title>All about Google Glass</title>
     <link rel="stylesheet" href="../css/style.css">
     <script language="javascript" src="../js/functions.js"></script>
</head>

<body>
     <div id="Interface">
         <header id="headerId">
             <hgroup>
                 <h1>Google Glass</h1>
                 <h2>The Google revolution is coming</h2>
             </hgroup>


             <img id="IconId" src="../img/glass-oculos-preto-peq.png">
             <nav id="Menu">
                 <h1> Main Menu</h1>
                 <ul type="disc">
                     <li onmouseover="changePic('../img/home.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="index. html"> Home </a></li>
                     <li onmouseover="changePic('../img/especificacoes.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="specs. html"> Specifications </a></li>
                     <li onmouseover="changePic('../img/fotos.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="images. html"> Photos </a></li>
                     <li onmouseover="changePic('../img/multimidia.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="media. html"> Multimedia </a></li>
                     <li onmouseover="changePic('../img/contato.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="contact- us.html"> Contact us</a></li>
                 </ul>
             </nav>
         </header>

         <section id="bodyId">
             <article id="mainNews">
                 <header id="headerId-article">
                     <hgroup id="bread crombs">
                         <h3> <span>Technology > Innovations</span></h3>
                         <h1>Learn everything about Google Glass</h1>
                         <h2> by Valmir de Barros</h2>
                     </hgroup>
                 </header>

                 <h2>What is it </h2>

                 <p>
                     <span style="font-weight: bold;"> Google Glass&reg;</span> is an accessory in the form of glasses that allows users to interact with various content in augmented reality. Also called <a href="http://google.com" target="_blank">Project Glass</a>,
                     The electronic device is capable of taking photos using voice commands, sending instant messages and carrying out video conferences. Its launch is scheduled for 2014, and its price should be US$1,500. Currently Google
                     Glass is in the testing phase and already has a video completely recorded with the device. In addition, the search company registered new anti-theft and screen unlock patents for the accessory.
                 </p>

                 <!-- <figure class="photo-caption"> -->
                 <figure class="img-caption">
                     <img src="../img/glass-quadro-homem-mulher.jpg" />
                     <figcaption>
                         <h3>Google Glass</h3>
                         <p>A new way of seeing the world</p>
                     </figcaption>
                 </figure>

                 <h2>Release date</h2>

                 <p>
                     There is no specific and official date for the device to be launched yet. It may be available in demonstrations from 2013 onwards, but its launch in stores will be scheduled for at least 2014.
                     <p>

                         <h2>Technical Specifications</h2>

                         <table id="TableSpec">
                             <caption> Google Glass Technical Table <span> Mar-2013</span></caption>
                             <tr>
                                 <td class="ce"> Screen: </td>
                                 <td class="cd"> Resolution equivalent to a 25" screen </td>
                             </tr>
                             <tr>
                                 <td rowspan="2" class="ce"> Camera: </td>
                                 <td class="cd"> 5MP for photos </td>
                             </tr>
                             <tr>
                                 <td class="cd"> 720p for videos </td>
                             </tr>
                             <tr>
                                 <td rowspan="2" class="ce"> Connectivity:</td>
                                 <td class="cd">Wi-Fi</td>
                             </tr>
                             <tr>
                                 <td class="cd"> Bluetooth </td>
                             </tr>
                             <tr>
                                 <td class="ce"> Internal Memory: </td>
                                 <td class="cd">12GB </td>
                             </tr>
                         </table>

                         <h2>How it works</h2>
                         <p>
                             According to sources close to Google, the glasses will feature a small LCD or AMOLED screen on the top and in front of the user's eyes. Using a camera and GPS, you can locate yourself, as well as select options with the movement of the
                             head
                         </p>

                         <h2>What you can do with Google Glasses</h2>
                         <p>
                             Google's promotional video shows that you can transform yourself into a kind of “super-<wbr>human”, as the device can indicate how many meters you are from your destination, whether the subway is open or closed, show
                             the weather, schedule and even allow you to schedule meetings with just voice commands.
                         </p>

                         <div id="video01">
                             <video id="video01" controls="controls" poster="../img/video-mini01.jpg">
                                <source src="../media/one-day.mp4" type="video/mp4"/>
                            </video>
                         </div>

                         <br>
             </article>

        </section>

        <aside id="Side">
            <h1>Other News </h1>
            <h2>Latest video </h2>

            <div id="video02">
                <video id="video" controls="controls" poster="../img/video-mini02.jpg">
                    <source src="../media/how-it-feels.mp4" type="video/mp4">
                        </style>
</video>
            </div>

            <h2>What's New in Glass</h2>
             <p>
                 Google has finally revealed the complete specifications of Google Glass, and with it a surprise that has never been seen before on the market: the search giant will use an audio system based on conduction transduction. Through the temples of the glasses, sound will be transmitted
                 to the user's ear through microvibrations in certain bones in their head, without using any type of speaker.
             </p>

             <p>
                 In addition to the audio surprise, the screen mounted in front of the user's eye also caught attention. There will be 640 x 360 pixels of resolution which, in proportion, would be equivalent to a 25-inch high-definition monitor placed 2.5 meters away from the viewer.
             </p>

         </aside>

         <footer id='Footer'>
             <p>
                 Copyright&copy; 2020 - by <a href="https://github.com/ValmirBP" target="_blank">Valmir Barros</a> <br />
                 <a href="https://www.facebook.com/valmir.barros.169/" target="_blank"> Facebook </a> |
                 <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LinkedIn</a>
             </p>
         </footer>
     </div>
</body>

</html>