<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Tudo sobre Google Glass</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">
    <script language="javascript" src="../js/funcoes.js"></script>
</head>

<body>
    <div id="Interface">
        <header id="Cabecalho">
            <hgroup>
                <h1> Google Glass</h1>
                <h2> A revolução do Google está chegando</h2>
            </hgroup>

            <img id="Icone" src="../img/multimidia.png">
            <nav id="Menu">
                <h1> Menu Principal</h1>
                <ul type="disc">
                    <li onmouseover="mudarFoto('../img/home.png')" onmouseout="mudarFoto ('../img/multimidia.png')"> <a href="index.html"> Home </a></li>
                    <li onmouseover="mudarFoto('../img/especificacoes.png')" onmouseout="mudarFoto ('../img/multimidia.png')"> <a href="specs.html"> Especificações </a></li>
                    <li onmouseover="mudarFoto('../img/fotos.png')" onmouseout="mudarFoto ('../img/multimidia.png')"> <a href="images.html"> Fotos </a></li>
                    <li onmouseover="mudarFoto('../img/multimidia.png')" onmouseout="mudarFoto ('../img/multimidia.png')"> <a href="media.html"> Multimídia </a></li>
                    <li onmouseover="mudarFoto('../img/contato.png')" onmouseout="mudarFoto ('../img/multimidia.png')"> <a href="contact-us.html"> Fale conosco</a></li>
                </ul>
            </nav>
        </header>

        <section id="corpo-full">
            <article id="NoticiaPrincipal">
                <header id="Cabecalho-artigo">
                    <hgroup id="bread crombs">
                        <h1>Sons e Vídeos</h1>
                        <h2> por Valmir Barros</h2>
                    </hgroup>
                </header>

                <div id="tv-radio">

                    <Audio id="musica" controls="controls">
						<source src="../media/2009-lovers-carvings-bibio.mp3" type="Audio/mpeg"/>
						Não foi pessível carrger o áudio
					</Audio>

                    <video id="filme" controls="controls" poster="../img/video-mini03.jpg">
						<source src="../media/getting-started.mp4" type="video/mp4">
							Não foi pessível carrger o video 
					</video>
                </div>
            </article>
        </section>



        <footer id='Rodape'>
            <p>
                Copyright&copy; 2020 - by <a href="https://github.com/ValmirBP" target="_blank">Valmir Barros</a> <br />
                <a href="https://www.facebook.com/valmir.barros.169/" target="_blank"> Facebook </a> |
                <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LinkedIn</a>
            </p>
        </footer>
    </div>
</body>

</html>