<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <title>Tudo sobre Google Glass</title>
    <link rel="stylesheet" href="_css/estilo.css">
    <link rel="stylesheet" href="_css/specs.css">
    <script language="javascript" src="_javascript/funcoes.js"></script>
</head>

<body>
    <div id="Interface">
        <header id="Cabecalho">
            <hgroup>
                <h1> Google Glass</h1>
                <h2> A revolução do Google está chegando</h2>
            </hgroup>

            <img id="Icone" src="_imagens/glass-oculos-preto-peq.png">
            <nav id="Menu">
                <h1> Menu Principal</h1>
                <ul type="disc">
                    <li onmouseover="mudaFoto('_imagens/home.png')" onmouseout="mudaFoto ('_imagens/especificacoes.png')"> <a href="index-txt.html"> Home </a></li>
                    <li onmouseover="mudaFoto('_imagens/especificacoes.png')" onmouseout="mudaFoto ('_imagens/especificacoes.png')"> <a href="specs.html"> Especificações </a>
                    </li>
                    <li onmouseover="mudaFoto('_imagens/fotos.png')" onmouseout="mudaFoto ('_imagens/especificacoes.png')"> <a href="fotos.html"> Fotos </a></li>
                    <li onmouseover="mudaFoto('_imagens/multimidia.png')" onmouseout="mudaFoto ('_imagens/especificacoes.png')"> <a href="multimidia.html"> Multimídia
                        </a></li>
                    <li onmouseover="mudaFoto('_imagens/contato.png')" onmouseout="mudaFoto ('_imagens/especificacoes.png')"> <a href="fale-conosco.html"> Fale
                            conosco</a></li>
                </ul>
            </nav>
        </header>
        <section id="corpo-full">
            <article id="NoticiaPrincipal">
                <header id="Cabecalho-artigo">
                    <hgroup id="bread crombs">
                        <h3> <span>Glass > Especificações </span></h3>
                        <h1>Raio-X no Google Glass</h1>
                        <h2> por Valmir de Barros</h2>
                    </hgroup>
                </header>
                <p>
                    Clique em qualquer área destacada da imagem para ter mais informações sobre os recursos do Google Glass. Qualquer ponto vermelho vai te levar a um lugar cheio de novas informações.
                </p>
                <img src="_imagens/glass-esquema-marcado.jpg" usemap="#meu-mapa" alt="esquama google glass">
                <map name="meu-mapa">
                    <area shape="poly" coords="182,220,264,207,267,242,184,255" href="_textos/google-glass-txt.html#tela" target="janela">
                    <area shape="circle" coords="158,243,12" href="_textos/google-glass-txt.html#camera" target="janela">
                    <area shape="poly" coords="28,143,83,216,84,249,27,169," href="_textos/google-glass-txt.html#sensores" target="janela">
                    <area shape="circle" coords="76,51,12" href="_textos/google-glass-txt.html#Bateria" target="janela">
                </map>
                <iframe scrolling="no" src="_textos/google-glass-txt.html" name="janela" id="frame-spec" frameborder="0"></iframe>

            </article>
        </section>

        <footer id='Rodape'>
            <p>
                Copyright&copy; 2020 - by <a href="https://github.com/ValmirBP" target="_blank">Valmir Barros</a> <br />
                <a href="https://www.facebook.com/valmir.barros.169/" target="_blank"> Facebook </a> |
                <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LinkedIn</a>
            </p>
        </footer>
    </div>
</body>

</html>