<!DOCTYPE html>
<html lang="pt-br">

<head>
     <meta charset="utf-8">
     <title>All about Google Glass</title>
     <link rel="stylesheet" href="../css/style.css">
     <link rel="stylesheet" href="../css/specs.css">
     <script language="javascript" src="../js/functions.js"></script>
</head>

<body>
     <div id="Interface">
         <header id="headerId">
             <hgroup>
                 <h1>Google Glass</h1>
                 <h2>The Google revolution is coming</h2>
             </hgroup>

             <img id="IconId" src="../img/especificacoes.png">
             <nav id="Menu">
                 <h1> Main Menu</h1>
                 <ul type="disc">
                     <li onmouseover="changePic('../img/home.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="index.html"> Home </a></li>
                     <li onmouseover="changePic('../img/especificacoes.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="specs.html"> Specifications </a></li>
                     <li onmouseover="changePic('../img/fotos.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="images.html"> Photos </a></li>
                     <li onmouseover="changePic('../img/multimidia.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="media.html"> Multimedia </a></li>
                     <li onmouseover="changePic('../img/contato.png')" onmouseout="changePic ('../img/glass-oculos-preto-peq.png')"> <a href="contact-us.html"> Contact us</a></li>
                 </ul>
             </nav>
         </header>
         <section id="bodyId-full">
             <article id="mainNews">
                 <header id="headerId-article">
                     <hgroup id="bread crombs">
                         <h1>X-ray on Google Glass</h1>
                         <h2> by Valmir de Barros</h2>
                     </hgroup>
                 </header>
                 <p>
                     Click on any highlighted area of the image to learn more about Google Glass features. Any red dot will take you to a place full of new information.
                 </p>
                 <img src="../img/glass-esquema-marcado.jpg" usemap="#my-map" alt="esquama google glass">
                 <map name="my-map">
                     <area shape="poly" coords="182,220,264,207,267,242,184,255" href="../text/google-glass.html#tela" target="window">
                     <area shape="circle" coords="158,243,12" href="../text/google-glass.html#camera" target="window">
                     <area shape="poly" coords="28,143,83,216,84,249,27,169," href="../text/google-glass.html#sensores" target="window">
                     <area shape="circle" coords="76,51,12" href="../text/google-glass.html#Bateria" target="window">
                 </map>
                 <iframe scrolling="no" src="../text/google-glass.html" name="window" id="frame-spec" frameborder="0"></iframe>

             </article>
         </section>

         <footer id='Footer'>
             <p>
                 Copyright&copy; 2020 - by <a href="https://github.com/ValmirBP" target="_blank">Valmir Barros</a> <br />
                 <a href="https://www.facebook.com/valmir.barros.169/" target="_blank"> Facebook </a> |
                 <a href="https://www.linkedin.com/in/valmir-barros/" target="_blank">LinkedIn</a>
             </p>
         </footer>
     </div>
</body>

</html>